<!DOCTYPE html>
<html lang="es">

<%-include("../partials/head.ejs", {title: 'login' })%>

<%-include("../partials/header.ejs")%>

        <main>
            <section class="container bg-light py-5">
                <ul class="nav nav-pills nav-justified mb-3" id="ex1">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-login" href="./login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-register" href="./register">Registro</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login">
                        <form action="/users/processLogin" method="POST" id="form-login">

                            <div class="form-outline pt-3 mb-4">
                                <input type="email" id="email" class="form-control" name="email" required />
                                <label class="form-label py-2" for="loginName">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" required />
                                <label class="form-label py-2" for="loginPassword">Contrase単a</label>
                            </div>
                            <% if (locals.error) { %>
                                <p class="alert alert-danger">
                                    <%- locals.error && error %>
                                </p>
                            <% } %>
                           
                            

                            <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div class="form-check mb-3 mb-md-0">
                                        <input class="form-check-input" type="checkbox" value="" id="loginCheck"
                                            checked />
                                        <label class="form-check-label" for="loginCheck"> recuerdame </label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex justify-content-center">
                                    <a href="#!">多Olvido su contrase単a?</a>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Ingresar</button>

                            <div class="text-center">
                                <p>多No es usuario? <a href="./register">Registrarse</a></p>
                            </div>
                        </form>
                    </div>
            </section>

        </main>
        <%-include("../partials/footer.ejs")%>

</html>